USE [WSR_Medical]
GO
/****** Object:  Table [dbo].[Analyzer]    Script Date: 16.11.2021 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Analyzer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Analyzer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnalyzerLog]    Script Date: 16.11.2021 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalyzerLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AnalyzerId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[ServiceDate] [date] NOT NULL,
	[Result] [float] NOT NULL,
	[Finished] [timestamp] NOT NULL,
	[Accepted] [bit] NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_AnalyzerLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnalyzerStatus]    Script Date: 16.11.2021 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnalyzerStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_AnalyzerStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Biomaterial]    Script Date: 16.11.2021 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biomaterial](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PateintId] [int] NOT NULL,
 CONSTRAINT [PK_Biomaterial] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 16.11.2021 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Ip] [nvarchar](15) NULL,
	[Lastenter] [date] NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeRole]    Script Date: 16.11.2021 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_EmployeeRole_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeService]    Script Date: 16.11.2021 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeService](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
 CONSTRAINT [PK_EmployeeService] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsuranceCompany]    Script Date: 16.11.2021 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceCompany](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CountryId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Inn] [nvarchar](20) NOT NULL,
	[Pc] [nvarchar](20) NOT NULL,
	[Bik] [nvarchar](20) NOT NULL,
	[Ua] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_InsuranceCompany] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsuranceType]    Script Date: 16.11.2021 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_InsuranceType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 16.11.2021 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateStart] [date] NOT NULL,
	[StatusId] [int] NOT NULL,
	[Deadline] [int] NULL,
	[BiomaterialId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderService]    Script Date: 16.11.2021 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderService](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[StatusId] [int] NULL,
 CONSTRAINT [PK_OrderService] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 16.11.2021 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_OrderStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patient]    Script Date: 16.11.2021 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](30) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[MiddleName] [nvarchar](50) NULL,
	[Guid] [nvarchar](max) NOT NULL,
	[BirthDate] [timestamp] NOT NULL,
	[PassportSerial] [nvarchar](4) NOT NULL,
	[PassportNumber] [nvarchar](6) NOT NULL,
	[Phone] [nvarchar](19) NULL,
	[Email] [nvarchar](max) NULL,
	[InsuranceNumber] [nvarchar](20) NOT NULL,
	[InsuranceTypeId] [int] NOT NULL,
	[InsuranceCompanyId] [int] NOT NULL,
	[Ein] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 16.11.2021 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Deadline] [int] NULL,
	[AverageError] [float] NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceStatus]    Script Date: 16.11.2021 15:51:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ServiceStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Analyzer] ON 

INSERT [dbo].[Analyzer] ([Id], [Name]) VALUES (1, N'Ledetect')
INSERT [dbo].[Analyzer] ([Id], [Name]) VALUES (2, N'Biorad')
SET IDENTITY_INSERT [dbo].[Analyzer] OFF
SET IDENTITY_INSERT [dbo].[AnalyzerStatus] ON 

INSERT [dbo].[AnalyzerStatus] ([Id], [Name]) VALUES (1, N'Finished')
INSERT [dbo].[AnalyzerStatus] ([Id], [Name]) VALUES (2, N'Rejected')
SET IDENTITY_INSERT [dbo].[AnalyzerStatus] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [FirstName], [SecondName], [MiddleName], [Login], [Password], [Ip], [Lastenter], [RoleId]) VALUES (1, N'Clareta', N'Hacking', N'', N'chacking0', N'4tzqHdkqzo4', N'147.231.50.234', CAST(N'2020-10-02' AS Date), 1)
INSERT [dbo].[Employee] ([Id], [FirstName], [SecondName], [MiddleName], [Login], [Password], [Ip], [Lastenter], [RoleId]) VALUES (2, N'Northrop', N'Mably', N'', N'nmably1', N'ukM0e6', N'22.32.15.211', CAST(N'2020-06-20' AS Date), 2)
INSERT [dbo].[Employee] ([Id], [FirstName], [SecondName], [MiddleName], [Login], [Password], [Ip], [Lastenter], [RoleId]) VALUES (3, N'Fabian', N'Rolf', N'', N'frolf2', N'7QpCwac0yi', N'113.92.142.29', CAST(N'2020-05-19' AS Date), 1)
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[EmployeeRole] ON 

INSERT [dbo].[EmployeeRole] ([Id], [Name]) VALUES (1, N'Лаборант')
INSERT [dbo].[EmployeeRole] ([Id], [Name]) VALUES (2, N'Лаборант-исследователь')
INSERT [dbo].[EmployeeRole] ([Id], [Name]) VALUES (3, N'Лаборант-администратор')
SET IDENTITY_INSERT [dbo].[EmployeeRole] OFF
SET IDENTITY_INSERT [dbo].[EmployeeService] ON 

INSERT [dbo].[EmployeeService] ([Id], [EmployeeId], [ServiceId]) VALUES (1, 1, 557)
INSERT [dbo].[EmployeeService] ([Id], [EmployeeId], [ServiceId]) VALUES (2, 1, 836)
INSERT [dbo].[EmployeeService] ([Id], [EmployeeId], [ServiceId]) VALUES (3, 1, 287)
GO
SET IDENTITY_INSERT [dbo].[EmployeeService] OFF
SET IDENTITY_INSERT [dbo].[InsuranceCompany] ON 

INSERT [dbo].[InsuranceCompany] ([Id], [CountryId], [Name], [Address], [Inn], [Pc], [Bik], [Ua]) VALUES (1, 1, N'Avamba', N'0536 Bunker Hill Plaza', N'2716833', N'227.113.77.41', N'553793026', N'180522995')
INSERT [dbo].[InsuranceCompany] ([Id], [CountryId], [Name], [Address], [Inn], [Pc], [Bik], [Ua]) VALUES (2, 2, N'Chatterpoint', N'45 Boyd Place', N'6233619', N'203.227.211.218', N'531363170', N'629384303')
INSERT [dbo].[InsuranceCompany] ([Id], [CountryId], [Name], [Address], [Inn], [Pc], [Bik], [Ua]) VALUES (3, 3, N'Zooveo', N'6 Farragut Parkway', N'3684079', N'115.243.208.173', N'860679987', N'324109181')
GO
SET IDENTITY_INSERT [dbo].[InsuranceCompany] OFF
SET IDENTITY_INSERT [dbo].[InsuranceType] ON 

INSERT [dbo].[InsuranceType] ([Id], [Name]) VALUES (1, N'oms')
INSERT [dbo].[InsuranceType] ([Id], [Name]) VALUES (2, N'dms')
SET IDENTITY_INSERT [dbo].[InsuranceType] OFF
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([Id], [Login], [Password], [FirstName], [SecondName], [MiddleName], [Guid], [PassportSerial], [PassportNumber], [Phone], [Email], [InsuranceNumber], [InsuranceTypeId], [InsuranceCompanyId], [Ein]) VALUES (1001, N'gdunkerly0', N'IGU2Q1qifXuf', N'Glyn', N'Dunkerly', N'', N'da293d99-95aa-4254-8c7e-c9e9270ef3f7', N'9091', N'129038', N'+86 (106) 695-3205', N'gdunkerly0@ted.com', N'93766273', 1, 1, N'04-6439890')
INSERT [dbo].[Patient] ([Id], [Login], [Password], [FirstName], [SecondName], [MiddleName], [Guid], [PassportSerial], [PassportNumber], [Phone], [Email], [InsuranceNumber], [InsuranceTypeId], [InsuranceCompanyId], [Ein]) VALUES (1002, N'jrestill1', N'sqIBkp', N'Jeanne', N'Restill', N'', N'dcb31c2f-fa2f-4792-b318-13cbf62a382e', N'4446', N'615819', N'+234 (336) 298-8675', N'jrestill1@feedburner.com', N'92610882', 1, 2, N'17-9529230')
INSERT [dbo].[Patient] ([Id], [Login], [Password], [FirstName], [SecondName], [MiddleName], [Guid], [PassportSerial], [PassportNumber], [Phone], [Email], [InsuranceNumber], [InsuranceTypeId], [InsuranceCompanyId], [Ein]) VALUES (1003, N'sjansik2', N'cDS8tAke', N'Sibyl', N'Jansik', N'', N'a86a743e-b329-4929-b35d-c5e44bbbd1d8', N'4525', N'970451', N'+62 (203) 110-2483', N'sjansik2@dedecms.com', N'69326881', 2, 3, N'35-6910073')
GO
SET IDENTITY_INSERT [dbo].[Patient] OFF
INSERT [dbo].[Service] ([Id], [Name], [Price], [Deadline], [AverageError]) VALUES (176, N'Билирубин общий', CAST(102.85 AS Decimal(10, 2)), NULL, NULL)
INSERT [dbo].[Service] ([Id], [Name], [Price], [Deadline], [AverageError]) VALUES (229, N'СПИД', CAST(341.78 AS Decimal(10, 2)), NULL, NULL)
INSERT [dbo].[Service] ([Id], [Name], [Price], [Deadline], [AverageError]) VALUES (258, N'Креатинин', CAST(143.22 AS Decimal(10, 2)), NULL, NULL)
ALTER TABLE [dbo].[AnalyzerLog]  WITH CHECK ADD  CONSTRAINT [FK_AnalyzerLog_Analyzer] FOREIGN KEY([AnalyzerId])
REFERENCES [dbo].[Analyzer] ([Id])
GO
ALTER TABLE [dbo].[AnalyzerLog] CHECK CONSTRAINT [FK_AnalyzerLog_Analyzer]
GO
ALTER TABLE [dbo].[AnalyzerLog]  WITH CHECK ADD  CONSTRAINT [FK_AnalyzerLog_AnalyzerStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[AnalyzerStatus] ([Id])
GO
ALTER TABLE [dbo].[AnalyzerLog] CHECK CONSTRAINT [FK_AnalyzerLog_AnalyzerStatus]
GO
ALTER TABLE [dbo].[AnalyzerLog]  WITH CHECK ADD  CONSTRAINT [FK_AnalyzerLog_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[AnalyzerLog] CHECK CONSTRAINT [FK_AnalyzerLog_Employee]
GO
ALTER TABLE [dbo].[AnalyzerLog]  WITH CHECK ADD  CONSTRAINT [FK_AnalyzerLog_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[AnalyzerLog] CHECK CONSTRAINT [FK_AnalyzerLog_Order]
GO
ALTER TABLE [dbo].[Biomaterial]  WITH CHECK ADD  CONSTRAINT [FK_Biomaterial_Patient] FOREIGN KEY([PateintId])
REFERENCES [dbo].[Patient] ([Id])
GO
ALTER TABLE [dbo].[Biomaterial] CHECK CONSTRAINT [FK_Biomaterial_Patient]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_EmployeeRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[EmployeeRole] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_EmployeeRole]
GO
ALTER TABLE [dbo].[EmployeeService]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeService_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeService] CHECK CONSTRAINT [FK_EmployeeService_Employee]
GO
ALTER TABLE [dbo].[EmployeeService]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeService_Service] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[EmployeeService] CHECK CONSTRAINT [FK_EmployeeService_Service]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Biomaterial1] FOREIGN KEY([Id])
REFERENCES [dbo].[Biomaterial] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Biomaterial1]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_OrderStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[OrderStatus] ([Id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_OrderStatus]
GO
ALTER TABLE [dbo].[OrderService]  WITH CHECK ADD  CONSTRAINT [FK_OrderService_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
ALTER TABLE [dbo].[OrderService] CHECK CONSTRAINT [FK_OrderService_Order]
GO
ALTER TABLE [dbo].[OrderService]  WITH CHECK ADD  CONSTRAINT [FK_OrderService_Service] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
GO
ALTER TABLE [dbo].[OrderService] CHECK CONSTRAINT [FK_OrderService_Service]
GO
ALTER TABLE [dbo].[OrderService]  WITH CHECK ADD  CONSTRAINT [FK_OrderService_ServiceStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[ServiceStatus] ([Id])
GO
ALTER TABLE [dbo].[OrderService] CHECK CONSTRAINT [FK_OrderService_ServiceStatus]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_InsuranceCompany] FOREIGN KEY([InsuranceCompanyId])
REFERENCES [dbo].[InsuranceCompany] ([Id])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_InsuranceCompany]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_InsuranceType] FOREIGN KEY([InsuranceTypeId])
REFERENCES [dbo].[InsuranceType] ([Id])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_InsuranceType]
GO
